<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sintra / Scrapping Test Bed</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
            Scrapping With Ruby
          </a>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <p>
        A simple sintra app for me to test my data scrapping and sanitizing various sites of interest with Ruby. I am now using it as a testbed for any site that strikes my fancy/any data that I have an interest in. Scrape projects that I have/am working on include:
      </p>
    
      <div class="list-group">
        <a href="/club930" class="list-group-item">
          List of shows from Club930.com in NYC....includes links to purchase tickets
        </a>
        <a href="/thewilbur" class="list-group-item">
          List of shows from thewilbur.com in Boston
        </a>
        <a href="#" class="list-group-item disabled">Morbi leo risus</a>
        <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item disabled">Vestibulum at eros</a>
      </div>
    </div>
  </body>
</html>