<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Test Page Really</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
            Scrapping With Ruby
          </a>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <p>
        Nakutakia la heri,<br />
        Nami, nakuombe kwaheri,<br />
        Kukupenda mi siwezi,<br />
        Jamani mpenzi kwaheri
      </p>
    
      <p>
        Really just a page independent of any fancy logic to hit and make sure the site is working.
      </p>
    </div>
  </body>
</html>